.custom-body {
    padding: 20px;
}

.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.current-time {
    width: 100%;
    height: 40px;
}

.site-name {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
}