<!DOCTYPE html>
<html dir="rtl" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          crossorigin="anonymous" type="text/css">
    <title>افزودن استاد به دوره</title>
</head>
<body>


<form th:action="@{/course/addInstructor}" th:object="${course}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{title}"/>
    <input type="hidden" th:field="${course.collegians}"/>
    <input type="hidden" th:field="*{startDate}"/>
    <input type="hidden" th:field="*{endDate}"/>
    <input type="hidden" th:field="*{active}"/>
    <fieldset>
        <legend>استاد‌ها</legend>
        <ul>
            <li th:each="instructor : ${instructors}">
                <input type="radio" th:field="${course.instructor}"
                       th:value="${instructor.id}"/>
                <label th:for="${instructor.id}" th:text="${instructor}"></label>
            </li>
        </ul>
    </fieldset>
    <p><input type="submit" value="افزودن"/> <input type="reset" value="تنظیم مجدد"/></p>
</form>

<!--<form th:object="${address}" method="post">-->
<!--    <fieldset>-->
<!--        <legend>Your addresses</legend>-->
<!--        <ul>-->
<!--            <li th:each="destinationAddress : ${destinationAddresses}">-->
<!--                <input type="radio" th:field="${address.destinationAddressId}" th:value="${destinationAddress.destinationAddressId}" />-->
<!--                <label th:for="${destinationAddress.destinationAddressId}" th:text="${destinationAddress}"></label>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </fieldset>-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->

</body>
</html>