<!DOCTYPE html>
<html dir="rtl" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          crossorigin="anonymous" type="text/css">
    <title>افزودن سوال به آزمون از بانک سوالات</title>
</head>
<body style="margin: 30px">

<form th:action="@{/question/addToExam}" th:object="${course}" method="post">

    <input type="hidden" th:field="*{exams}"/>

    <fieldset>
        <legend>بانک سوال</legend>
        <ul>
            <li th:each="question : ${questions}">
                <input type="checkbox" th:field="${course.questions}"
                       th:value="${question.id}"/>
                <label th:for="${question.id}" th:text="${question}"></label>
            </li>
        </ul>
    </fieldset>

    <p><input type="submit" value="افزودن"/> <input type="reset" value="تنظیم مجدد"/></p>
</form>

<script src="../static/bootstrap/js/jquery-3.4.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/popper.min.js"
        crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>