<!DOCTYPE html>
<html dir="rtl" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          crossorigin="anonymous" type="text/css">
    <title>حساب کاربری دانشجویان</title>
</head>
<body style="margin: 30px">

<div style="display: flex; justify-content: center; margin-top: 20px">
    <h3>حساب کاربری دانشجوها</h3>
</div>

<form action="#" th:action="@{/account/collegian/all}" th:object="${role}" method="post">

    <fieldset class="form-check">
        <input type="submit" id="submitButton" value="ذخیره">
        <input type="reset" id="resetButton" name="reset" value="تنظیم مجدد"/>
        <table class="table table-responsive table-bordered">
            <thead>
            <tr>

                <th> فعال</th>
                <th> نام کاربری</th>
                <th> نقش(رول)</th>
                <th> وضعیت</th>
                <th> تایید شده</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="account, itemStat : *{accounts}">

                <input type="hidden" th:field="*{accounts[__${itemStat.index}__].id}"/>
                <td><input type="checkbox" th:field="*{accounts[__${itemStat.index}__].active}"/></td>
                <td><input type="text" th:field="*{accounts[__${itemStat.index}__].username}"/></td>
                <input type="hidden" th:field="*{accounts[__${itemStat.index}__].password}"/>
                <td><input type="text" th:field="*{accounts[__${itemStat.index}__].role}"/></td>
                <td><input type="text" th:field="*{accounts[__${itemStat.index}__].status}"/></td>
                <td><input type="checkbox" th:field="*{accounts[__${itemStat.index}__].confirmed}"/></td>
                <input type="hidden" th:field="*{accounts[__${itemStat.index}__].person}"/>

            </tr>
            </tbody>
        </table>
    </fieldset>

</form>
</body>
</html>