<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست آزمون‌های دوره</title>
</head>
<body style="margin: 30px">
<div style="display: flex; justify-content: center; margin-top: 30px"><h2>لیست آزمون‌های دوره</h2></div>

<div style="display: flex; justify-content: flex-start">
    <form th:action="@{/instructor/dashboard}">
        <input type="submit" value="داشبورد"/>
    </form>

    <form th:action="@{/exam/create/__${course.id}__}" method="get">
        <input type="submit" value="افزودن آزمون جدید"/>
    </form>
</div>

<table class="table table-responsive table-hover" style="background-color: #17a2b8">
    <thead>
    <tr>
        <th>شناسه</th>
        <th>عنوان</th>
        <th>زمان برگزاری</th>
        <th>مدت زمان</th>
        <th>سقف نمره</th>
        <th>نوع آزمون</th>
        <th>نام استاد طراح آزمون</th>
        <th>فعال</th>
        <th>عملیات</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${course}" th:each="exam : ${exams}">
        <td><span th:text="${exam.id}"></span></td>
        <td><span th:text="${exam.title}"></span></td>
        <td><span th:text="${exam.heldDate}"></span></td>
        <td><span th:text="${exam.duration}"></span></td>
        <td><span th:text="${exam.score}"></span></td>

        <td th:if="${exam.multipleChoice}">چند گزینه‌ای</td>
        <td th:if="${not exam.multipleChoice}">تشریحی</td>

        <td><span th:text="${exam.instructor.lastName}"></span></td>

        <td th:if="${exam.active}">فعال</td>
        <td th:if="${not exam.active}">غیرفعال</td>

        <td th:if="${#strings.equals(#strings.toString(course.instructor.id),
        #strings.toString(exam.instructor.id))}">
            <div style="display: flex; justify-content: space-around">

                <form th:action="@{/exam/participant-list/__${exam.id}__}">
                    <button class="btn-outline-primary rounded" type="submit">شرکت کنندگان</button>
                </form>

                <form th:action="@{/exam/edit/__${exam.id}__}">
                    <button class="btn-outline-primary rounded" type="submit">ویرایش</button>
                </form>

                <form th:action="@{/exam/delete/__${exam.id}__}">
                    <button class="btn-outline-danger rounded" type="submit">حذف</button>
                </form>
            </div>
        </td>

        <td th:if="${not #strings.equals(#strings.toString(course.instructor.id),
        #strings.toString(exam.instructor.id))}">
            این آزمون توسط استاد/های قبلی طراحی شده
        </td>

    </tr>
    </tbody>
</table>

<script src="../static/bootstrap/js/jquery-3.4.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/popper.min.js"
        crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>