<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست شرکت‌کنندگان آزمون</title>
</head>
<div style="margin: 30px">
    <div style="display: flex; justify-content: center; margin-top: 30px"><h2>لیست شرکت‌کنندگان آزمون</h2></div>

    <div style="display: flex; justify-content: flex-start">
        <form th:action="@{/instructor/dashboard}">
            <input type="submit" value="داشبورد" disabled/>
        </form>

        <!--    <form th:action="@{/exam/create/__${course.id}__}" method="get">-->
        <!--        <input type="submit" value="افزودن آزمون جدید" disabled/>-->
        <!--    </form>-->
    </div>
    <div style="display: flex; justify-content: center">
        <table class="table table-responsive table-hover rounded" style="background-color: #17a2b8; width: 70%">
            <thead>
            <tr>
                <th>شناسه</th>
                <th>نام کاربری</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>تصحیح شده</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="collegian : ${participatedCollegians}">
                <td><span th:text="${collegian.id}"></span></td>
                <td><span th:text="${collegian.account.username}"></span></td>
                <td><span th:text="${collegian.firstName}"></span></td>
                <td><span th:text="${collegian.lastName}"></span></td>
                <td>پیاده سازی شود</td>

                <td>
                    <!--            <div style="display: flex; justify-content: space-around">-->

                    <form th:action="@{/exam/participant-answers/__${collegian.id}__/__${session.examId}__}">
                        <button class="btn-outline-primary rounded" type="submit">مشاهده‌ی سوالات</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="../static/bootstrap/js/jquery-3.4.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/popper.min.js"
        crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>