<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت سوالات</title>
</head>
<body style="display: flex; justify-content: center">

<div style="width: 300px; height: 100px;
 background-color: #fd7e14; border-radius: 5px; margin-top: 100px; display: flex; justify-content: center;
align-items: center">
    <div><h3>جواب سوالات با موفقیت ثبت شد</h3></div>

</div>
<!--after 3 seconds this page will be redirected to collegian dashboard-->
<div id="demo" hidden="hidden"></div>
<form hidden="hidden" action="/collegian/dashboard">
    <input id="sb" type="submit"/>
</form>

<script>
    // Set the date we're counting down to
    let date = new Date();
    let second = date.setSeconds(date.getSeconds() + 3);
    var countDownDate = second;

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds

        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

        if (distance < 0) {
            $('#sb').click();
        }
    }, 1000);

</script>
</body>
</html>