<!DOCTYPE html>
<html dir="rtl" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          crossorigin="anonymous" type="text/css">
    <title>افزودن آزمون</title>
</head>
<body style="margin: 30px">
<div style="display: flex; justify-content: center; margin-top: 80px"><h4>لطفا فرم اطلاعات آزمون را تکمیل فرمایید</h4>
</div>
<div style="display: flex; justify-content: center; margin-top: 10px">

    <div style="display: flex ; justify-content: center; align-items: center; width: 400px; height: 400px;
                                        background-color: lightblue ; padding: 20px; border-radius: 10px">

        <form action="#" th:action="@{/exam/create}" th:object="${exam}" method="post">
            <input type="hidden" th:field="*{instructor}"/><br>
            <input type="hidden" th:field="*{course}"/><br>
            عنوان*: <br><input type="text" th:field="*{title}" required/><br><br>
            زمان برگزاری*: <br><input type="date" th:field="*{heldDate}"/><br><br>
<!--            سقف نمره*: <br><input type="text" th:field="*{score}"/><br><br>-->
            مدت زمان*: <br><input type="text" th:field="*{duration}" required/><br><br>
            چند‌گزینه‌ای*: <input type="checkbox" th:field="*{multipleChoice}"/><br><br>
            فعال*: <input type="checkbox" th:field="*{active}"/><br><br>
            <div style="display: flex; justify-content: center"><input style="width: 50%" type="submit" value="افزودن"/>
            </div>

        </form>
    </div>
</div>
</body>
</html>