<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>افزودن سوال تشریحی</title>
</head>
<body style="margin: 30px">
<div style="display: flex; justify-content: center; margin-top: 80px"><h4>لطفا فرم اطلاعات سوال را تکمیل فرمایید</h4>
</div>
<div style="display: flex; justify-content: center; margin-top: 10px">

    <div style="display: flex ; justify-content: center; align-items: center; width: 400px; height: 400px;
                                        background-color: lightblue ; padding: 20px; border-radius: 10px">

        <form action="#" th:action="@{/question/create/descriptive}" th:object="${descriptiveQuestion}"
              method="post">
            <input type="hidden" th:field="*{instructor}"/><br>
            <input type="hidden" th:field="*{multipleChoice}"/><br>

            <fieldset th:each="examQuestionScore, itemStat : *{examQuestionsScores}">
                <input type="hidden" th:field="*{examQuestionsScores[__${itemStat.index}__].exam}"/>
            </fieldset>

                عنوان*: <br><input type="text" th:field="*{title}" required/><br><br>
                صورت سوال*: <br><input type="text" th:field="*{content}" required/><br><br>
                <!--            گزینه‌ی صحیح*: <br><input type="text" th:field="*{answerKey}"/><br><br>-->

            <div style="display: flex; justify-content: center">
                <input style="width: 50%" type="submit" value="افزودن"/>
            </div>

        </form>
    </div>
</div>
</body>
</html>