<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>افزودن سوال چند‌گزینه‌ای</title>
</head>
<body style="margin: 30px">
<div style="display: flex; justify-content: center; margin-top: 80px"><h4>لطفا فرم اطلاعات سوال را تکمیل فرمایید</h4>
</div>
<div style="display: flex; justify-content: center; margin-top: 10px">

    <div style="display: flex ; justify-content: center; align-items: center; width: 400px; height: 400px;
                                        background-color: lightblue ; padding: 20px; border-radius: 10px">

        <form action="#" th:action="@{/question/create/multipleChoice}" th:object="${multipleChoiceQuestion}"
              method="post">
            <!--            <input type="hidden" th:field="*{id}"/><br>-->
            <input type="hidden" th:field="*{instructor}"/><br>
            <input type="hidden" th:field="*{multipleChoice}"/><br>

            عنوان*: <input type="text" th:field="*{title}" required/><br><br>
            صورت سوال*: <input type="text" th:field="*{content}" required/><br><br>
            <!--            صورت سوال*: <br><input type="text" th:field="*{content}"/><br><br>-->
            گزینه‌ی صحیح*:
            <!--            <br><input type="text" th:field="*{answerKey}" required/><br><br>-->

            <select th:field="*{answerKey}">
                <option th:each="option : *{options}"
                        th:value="${option.orderOfOption}"
                        th:text="${option.orderOfOption}">
                </option>
            </select>

            <table>
                <thead>
                <tr>
                    <th>گزینه</th>
                    <th>متن</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="option, stat : *{options}">
                    <td><input style="width: 40px" type="text" th:field="*{options[__${stat.index}__].orderOfOption}" readonly/></td>
                    <td><input type="text" th:field="*{options[__${stat.index}__].content}" required/></td>
                </tr>
                </tbody>
            </table>

            <div style="display: flex; justify-content: center">
                <input style="width: 50%" type="submit" value="افزودن"/>
            </div>

        </form>
    </div>
</div>

<!--<script src="/static/js/jquery-3.4.1.min.js"></script>-->

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        const maxField = 10; //Input fields increment limitation
        const addButton = $('.add_button'); //Add button selector
        const wrapper = $('.field_wrapper'); //Input field wrapper
        // let fieldHTML = '<div><input type="text" name="field_name[]" value=""/>' +
        let fieldHTML = '<div><input type="text"  th:field="${multipleChoiceQuestion.content}"/>' +
            '<a href="javascript:void(0);" class="remove_button">delete</a></div>'; //New input field html

        let fieldHTML2 = '<div><input type="text"  th:field="${multipleChoiceQuestion.content}"/>' +
            '<a href="javascript:void(0);" class="remove_button">delete</a></div>';

        let x = 1; //Initial field counter is 1

        //Once add button is clicked
        $(addButton).click(function () {
            //Check maximum number of input fields
            if (x < maxField) {
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
            }
        });

        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
</script>