<!DOCTYPE html>
<html dir="rtl" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          crossorigin="anonymous" type="text/css">
    <title>ویرایش آزمون</title>
</head>
<body>
<div style="display: flex; justify-content: center; margin-top: 30px"><h2>ویرایش آزمون</h2></div>
<div style="display: flex; justify-content: space-around;padding: 10px; background-color: #7abaff">
    <form th:action="@{/question/list/__${exam.id}__}" method="get">
        <input type="submit" value="افزودن سوال از بانک سوالات"/>
    </form>
    <form th:action="@{/question/create/multipleChoice/__${exam.id}__}" method="get">
        <input type="submit" value="افزودن سوال چند‌گزینه‌ای جدید"/>
    </form>
    <form th:action="@{/question/create/descriptive/__${exam.id}__}" method="get">
        <input type="submit" value="افزودن سوال تشریحی جدید"/>
    </form>
    <form th:action="@{/exam/questions-list/__${exam.id}__}" method="get">
        <input type="submit" value="مشاهده‌ی لیست سوالات آزمون"/>
    </form>
    <form th:action="@{/exam/questions/assign-score/__${exam.id}__}" method="get">
        <input type="submit" value=" نمره‌دهی به سوالات آزمون"/>
    </form>
</div>
<div style="display: flex; justify-content: center; margin-top: 10px">

    <div style="display: flex ; justify-content: center; align-items: center; width: 300px; height: 320px;
                                        background-color: lightblue ; padding: 10px; border-radius: 10px">

        <form action="#" th:action="@{/exam/edit}" th:object="${exam}" method="post">
            <input type="hidden" th:field="*{id}"/>

            عنوان: <br><input dir="rtl" type="text" th:field="*{title}"/><br>
            زمان برگزاری: <br><input dir="rtl" type="text" th:field="*{heldDate}"/><br>
            مدت زمان: <br><input dir="rtl" type="text" th:field="*{duration}"/><br>
            سقف نمره: <input style="width: 50px" dir="rtl" type="text" th:field="*{score}" readonly/><br><br>
             فعال: <br><input dir="rtl" type="checkbox" th:field="*{active}"/><br><br>

            <input type="hidden" th:field="*{instructor}"/>
            <input type="hidden" th:field="*{course}"/>
            <input type="hidden" th:field="*{multipleChoice}"/>

            <input type="submit" value="‌‌ذخیره تغییرات"/><input type="reset" value="تنظیم مجدد"><br>

        </form>
    </div>
</div>
</body>
</html>