<html  dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد استاد</title>
</head>
<body>
داشبورد استاد
<div style="display: flex; justify-content: center"><h3>لیست دوره‌های شما</h3></div>
<table class="table table-info table-bordered">
    <thead>
    <tr>
        <th>شناسه</th>
        <th>عنوان</th>
        <th>تاریخ شروع</th>
        <th>تاریخ پایان</th>
        <th>فعال</th>
        <th>عملیات</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.title}"></td>
        <td th:text="${course.startDate}"></td>
        <td th:text="${course.endDate}"></td>
        <td th:text="${course.active}"></td>

        <td> <form th:action="@{/exam/list/__${course.id}__}">
            <button class="btn-outline-primary rounded" type="submit">آزمون‌ها</button>
        </form></td>

    </tr>
    </tbody>
</table>
</body>
</html>