<!DOCTYPE html>
<html dir="rtl" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>داشبورد استاد</title>
</head>
<body>
داشبورد استاد
<div style="display: flex; justify-content: center"><h3>لیست دوره‌های شما</h3></div>
<table>
    <thead>
    <tr>
        <th>شناسه</th>
        <th>عنوان</th>
        <th>تاریخ شروع</th>
        <th>تاریخ پایان</th>
        <th>فعال</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.title}"></td>
        <td th:text="${course.startDate}"></td>
        <td th:text="${course.endDate}"></td>
        <td th:text="${course.active}"></td>
        <td><a th:href="@{/exam/list/__${course.id}__}">آزمون‌ها</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>