<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager dashboard</title>
</head>
<body>
<h2>hello manager, this is your dashboard</h2>
<form>
    <button disabled rmaction="/account/registered/all">registered accounts</button>
    <button disabled formaction="/account/waiting/all">waiting requests</button>
    <button formaction="/account/instructor/all">instructors accounts</button>
    <button formaction="/account/collegian/all">collegians accounts</button>
    <button formaction="/course/create">define new course</button>
</form>
</body>
</html>