<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration successful</title>
</head>
<body>

<div dir="rtl" style="display: flex; justify-content: center; margin-top: 50px">
    <h2>شما با موفقیت ثبت نام کرده‌اید</h2>
</div>

<div style="display: flex; justify-content: center">
    <h4>ثبت نام شما در انتظار تایید است</h4>
</div>

<div style="display: flex; justify-content: center">
<div style="width: 800px">
    <table class="table table-dark table-responsive">
        <thead>
        <tr>
            <th> شناسه</th>
            <th> نام کاربری</th>
            <th> نام</th>
            <th> نام خانوادگی</th>
            <th> پست الکترونیک</th>
            <th> شماره‌ی تلفن</th>
            <th> نقش</th>
        </tr>
        </thead>
        <tbody>

        <tr th:object="${account}">

            <td><span th:text="*{id}"> Id </span></td>
            <td><span th:text="*{username}"> username </span></td>
            <td><span th:text="*{person.firstName}"> firstName </span></td>
            <td><span th:text="*{person.lastName}"> lastName </span></td>
            <td><span th:text="*{person.email}"> email </span></td>
            <td><span th:text="*{person.phoneNumber}"> phoneNumber </span></td>
            <td><span th:text="*{role.title}"> role </span></td>
            <!--            -->
            <!--            <td><a th:href="@{/drug/edit/__${d.id}__}">edit</a></td>-->
            <!--            <td><a th:href="@{/drug/deleteConfirm/__${d.id}__}">delete</a></td>-->

        </tr>
        <form>
            <button style="margin: 10px" formaction="/" class="btn-primary">خانه</button>
        </form>
        </tbody>
    </table>
</div>
</div>

</body>
</html>