<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sign up page</title>
</head>
<body>
sign up

<form action="#" th:action="@{/account/signUp}" th:object="${account}" method="post">

    <p>username:* <input type="text" th:field="*{username}"/></p>
    <p>password:* <input type="text" th:field="*{password}"/></p>
    <input type="hidden" th:field="*{active}"/>
    <input type="hidden" th:field="*{status}"/>
    <input type="submit" value="sign up"/>
</form>
</body>
</html>