<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شروع آزمون</title>
</head>
<body>

<form action="#" th:object="${answer}">
    <h3>متن سوال</h3>
    <h5><p th:text="${answer.examQuestionsScore.question.content}"></p></h5>

    <div th:if="${answer.examQuestionsScore.question.multipleChoice}">
        <fieldset>
        <legend>گزینه‌ها</legend>
        <ul>
            <li th:each="option : ${answer.examQuestionsScore.question.options}">
                <input type="radio" th:field="${answer.content}"
                       th:value="${option.orderOfOption}"/>
                <label th:for="${option.orderOfOption}" th:text="${option.content}"></label>
            </li>
        </ul>
        </fieldset>
    </div>

    <div th:if="${not answer.examQuestionsScore.question.multipleChoice}">
        <h4>جواب را وارد کنید</h4><input type="text" th:field="*{content}"/>
    </div>

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{examQuestionsScore}"/>
    <input type="hidden" th:field="*{collegian}"/>
    <input type="hidden" th:field="*{grade}"/>
    <div th:text="${session.order}"></div>


    <div th:text="${session.numOfQuestions}"></div>

    <!----------------------------------------------------------------------------------------->
    <div th:if="${#strings.equals(session.order, session.numOfQuestions)}">
        <input type="submit" disabled value="سوال بعد" />
    </div>

    <div th:if="${not #strings.equals(session.order, session.numOfQuestions)}">
        <input type="submit" formaction="/collegian/answer-next"  value="سوال بعد" />
    </div>
    <!----------------------------------------------------------------------------------------->

    <div th:if="${#strings.equals(session.order, 1)}">
        <input type="submit" disabled value="سوال قبل" />
    </div>

    <div th:if="${not #strings.equals(session.order, 1)}">
        <input type="submit" formaction="/collegian/answer-previous" value="سوال قبل"/>
    </div>
    <!----------------------------------------------------------------------------------------->

    <input id="sb" type="submit" formaction="/collegian/answer-submit" value="ثبت جواب"/>

</form>

<p id="demo"></p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    var paginationHandler = function () {
        // store pagination container so we only select it once
        var $paginationContainer = $(".pagination-container"),
            $pagination = $paginationContainer.find('.pagination ul');
        // click event
        $pagination.find("li a").on('click.pageChange', function (e) {
            e.preventDefault();
            // get parent li's data-page attribute and current page
            var parentLiPage = $(this).parent('li').data("page"),
                currentPage = parseInt($(".pagination-container div[data-page]:visible").data('page')),
                numPages = $paginationContainer.find("div[data-page]").length;
            // make sure they aren't clicking the current page
            if (parseInt(parentLiPage) !== parseInt(currentPage)) {
                // hide the current page
                $paginationContainer.find("div[data-page]:visible").hide();
                if (parentLiPage === '+') {
                    // next page
                    $paginationContainer.find("div[data-page=" + (currentPage + 1 > numPages ? numPages : currentPage + 1) + "]").show();
                } else if (parentLiPage === '-') {
                    // previous page
                    $paginationContainer.find("div[data-page=" + (currentPage - 1 < 1 ? 1 : currentPage - 1) + "]").show();
                } else {
                    // specific page
                    $paginationContainer.find("div[data-page=" + parseInt(parentLiPage) + "]").show();
                }
            }
        });
    };
    $(document).ready(paginationHandler);
</script>

<script>
    // Set the date we're counting down to
    let date = new Date();
    let minute = date.setMinutes(date.getMinutes() + 1);
    var countDownDate = minute;

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds

        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

        if (distance < 0) {
            $('#sb').click();
        }
        // If the count down is over, write some text
        // if (distance < 0) {
        //     clearInterval(x);
        //     document.getElementById("demo").innerHTML = "EXPIRED";
        // }
    }, 1000);

</script>
</body>
</html>