<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شروع آزمون</title>

</head>
<body style="display: flex; justify-content: center; padding-top: 50px">

<div th:if="${not answer.timeout}" style="display: flex; justify-content: center; align-items: center;
                        width: 80%; height: 500px; background-color: lightblue">
    <form action="#" th:object="${answer}" style="width: 90%; height: 90%">
        <h3>متن سوال</h3>
        <h5><p th:text="${answer.examQuestionsScore.question.content}"></p></h5>

        <div th:if="${answer.examQuestionsScore.question.multipleChoice}">
            <fieldset>
                <legend>گزینه‌ها</legend>
                <ul>

                    <li th:each="option : ${options}">
                        <input type="radio" th:field="${answer.content}"
                               th:value="${option.orderOfOption}"/>
                        <label th:for="${option.orderOfOption}" th:text="${option.content}"></label>
                    </li>
                </ul>
            </fieldset>
        </div>

        <div th:if="${not answer.examQuestionsScore.question.multipleChoice}">
            <h4>جواب را وارد کنید</h4><input style="width: 400px; height: 150px;" type="text" th:field="*{content}"/>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{examQuestionsScore}"/>
        <input type="hidden" th:field="*{corrected}"/>
        <input type="hidden" th:field="*{collegian}"/>
        <input type="hidden" th:field="*{grade}"/>
        <input type="hidden" th:field="*{timeout}"/>

        <!--        <div th:text="${session.order}"></div>-->

        <!--        <div th:text="${session.numOfQuestions}"></div>-->

        <div style="display:flex; justify-content: center">
            <!----------------------------------------------------------------------------------------->
            <div th:if="${#strings.equals(session.order, session.numOfQuestions)}">
                <input type="submit" disabled value="سوال بعد"/>
            </div>

            <div th:if="${not #strings.equals(session.order, session.numOfQuestions)}">
                <input type="submit" formaction="/collegian/answer/next" value="سوال بعد"/>
            </div>
            <!----------------------------------------------------------------------------------------->

            <div th:if="${#strings.equals(session.order, 1)}">
                <input type="submit" disabled value="سوال قبل"/>
            </div>

            <div th:if="${not #strings.equals(session.order, 1)}">
                <input type="submit" formaction="/collegian/answer/previous" value="سوال قبل"/>
            </div>
            <!----------------------------------------------------------------------------------------->

        </div>
        <input id="sb" class="btn-warning img-rounded" type="submit" formaction="/collegian/answer-submit"
               value="ثبت جواب"/>

        <!--    <input id="tm" type="hidden" th:value="${answer.examQuestionsScore.exam.duration}"/>-->
        <div style="width: 100%">زمان باقیمانده:<p id="demo"></p></div>
    </form>
</div>
<div th:if="${answer.timeout}">
    <h3>زمان آزمون به پایان رسیده است</h3>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
    // Set the date we're counting down to
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + " " + " " + seconds;

            if (--timer < 0) {
                $('#sb').click();
            }
            console.log(parseInt(seconds))
            window.localStorage.setItem("seconds", seconds)
            window.localStorage.setItem("minutes", minutes)
        }, 1000);
    }

    window.onload = function () {
        sec = parseInt(window.localStorage.getItem("seconds"))
        min = parseInt(window.localStorage.getItem("minutes"))

        // var timee = document.getElementById("tm");
        if (parseInt(min * sec)) {
            var fiveMinutes = (parseInt(min * 60) + sec);
        } else {
            var fiveMinutes = 5 * 60;
        }
        // var fiveMinutes = 60 * 5;
        display = document.querySelector('#demo');
        startTimer(fiveMinutes, display);
    };
</script>

</body>
</html>